
@{
    ViewBag.Title = "Nosotros";
}

<div class="container mt-4 mb-5">

    <h1 class="text-center py-3 mb-5">¿QUIENES SOMOS?</h1>

    <div class="row">
        <div class="col-lg-5">

            <img class="img-fluid rounded z-depth-2 mb-2" src="~/img/nosotros.jpg" alt="sample">
            <img class="img-fluid rounded z-depth-2 mb-2" src="~/img/nosotros1.jpg" alt="sample">

        </div>

        <div class="col-lg-7">
            <h2>Historia</h2>
            <p class="mt-4 mt-lg-0">
                Esta pequeña empresa comenzó en julio del 2018 con un puesto en el centro comercial MIAMI CENTER, que se encuentra ubicado en la calle lima, donde al inició solo ofrecían las pocas 
                prendas de calidad y modelos únicos, ah sido  la popularidad por la moda rápido o que a su vez hacía que la variedad de piezas fuera prácticamente infinita e invitaba a los consumidores 
                a adquirir mucho más prendas  que recién salían en tendencia en un lapso corto de tiempo.
            </p>

            <h2>Vision</h2>
            <p class="mt-4 mt-lg-0">
                Nuestra vision es ser una empresa lider y reconocida en la ventas de ropa femenina , lograr tambien extendernos , proporcionando cada día mas de un servicio de excelencia a nuestross clientes y al mismo 
                tiempo nos permita competir en el mercadp nacional con los mejores precios del mercado.
            </p>
            <h2>Mision</h2>
            <p>
                Nuestra mision es ofrecer a nuestros clientes los productos de calidad, a precios cómodos que cumplan con sus necesidades y exigencia , abarcando sus gustos de acuerdo a su estilo de cada persona
            </p>
            <h2>Ubicanos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.8857562729441!2d-75.72769207852352!3d-14.067012574371415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e3adb18f6483%3A0xc6fbf58b6d874b5b!2sTawaqui%20Ica!5e0!3m2!1ses-419!2spe!4v1611955050036!5m2!1ses-419!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>


    </div>


</div>

